* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FFF;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.navbar {
    font-size: 1.5rem;
    color: #242038;
    font-style: italic;
    margin-top: 15px;
}

.navbar h1 {
    margin-left: 20px;
    font-size: 3rem;
}

.navbar img {
    width: 64px;
    height: 64px;
}

.describe {
    margin-top: 15px;
    font-size: 2rem;
    text-align: center;
}

.describe span {
    font-weight: bold;
    font-style: italic;
}

.recomended-memes {
    font-size: 1.5rem;
}

.memes-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.memes-container img {
    width: 80px;
    height: 70px;
    padding: 5px;
}

.memes-container img:hover{
    cursor: pointer;
}

.meme-creator {
    width: 90%;
    margin: auto;
}

.meme-creator h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 5px 0px;
}

.meme-creator input {
    width: 90%;
    padding: 5px;
    font-size: 1.5rem;
}

.meme-creator img {
    margin-top: 15px;
    width: 100%;
    height: 360px;
}

.meme-creator_generate_button{
    margin: 10px 0px;
}