* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes shake-move{
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FFF;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.navbar {
    font-size: 1.5rem;
    color: #242038;
    font-style: italic;
    margin-top: 15px;
}

.navbar h1 {
    margin-left: 20px;
    font-size: 3rem;
}

.navbar img {
    width: 64px;
    height: 64px;
}

.describe_p{
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
}

.describe_p span {
    font-weight: bold;
    font-style: italic;
}

.recomended-memes {
    font-size: 1.5rem;
}

.memes-container {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.memes-container img {
    width: 200px;
    height: 180px;
    padding: 5px;
    display: inline-block;
}

.memes-container img:hover{
    cursor: pointer;
}

.meme-creator {
    width: 90%;
    margin: auto;
}

.meme-creator h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 5px 0px;
}

.meme-creator input {
    width: 90%;
    padding: 5px;
    font-size: 1.5rem;
}


.meme-field {
    margin-top: 15px;
    width: 100%;
    height: 360px;
}

.meme-image{
    margin-bottom: 20px;
}

.meme-creator_generate_button{
    margin: 25px 0px 5px 0px;
    font-size: 2.5rem;
    padding: 10px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 10px;
}

.meme-creator_generate_button:hover{
    cursor: pointer;
    background-color: gray;
    animation: shake-move 0.1s 3;
}